@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --card-color-primary: rgb(34, 101, 201);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121214;
  background-image: url(./images/bg.svg);
  background-position-x: center;
  background-position-y: 55%;
  background-size: cover;
}

#app {
  margin: 60px auto;
  width: fit-content;
}

#app header img {
  width: 500px;
}

#app header {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 30px;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #202020;
  padding: 60px 30px 30px 30px;
  border-radius: 10px;
  border-bottom: 2px solid #f7dd43;
  width: 400px;
}

.date {
  display: flex;
  font-weight: bold;
  color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--card-color-primary);
  padding: 10px 25px;
  width: fit-content;
  border-radius: 10px;
}

.date h2 {
  color: yellow;
  font-size: 2rem;
  display: inline;
  border-radius: 5px;
}

.date span {
  margin-top: 3px;
  color: white;
  font-size: 1rem;
  margin-left: 20px;
}

.matches {
  margin-top: 30px;
  padding-bottom: 40px;
  width: 90%;
}

.match {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgb(53, 53, 53);
  padding: 25px 0;
  width: 100%;
  transition: 300ms;
  opacity: 0.7;
}

.match:hover {
  opacity: 1;
  transform: scale(1.1);
}

.match img {
  width: 60px;
}

.card .date {
  transition: 300ms;
}

.card .date:hover {
  transform: scale(1.1);
}

.card {
  animation: appear 1s;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .date {
    border: 1px solid rgb(224, 210, 15);
  }
}

@media (max-width: 500px) {
  .card {
    width: 300px;
  }

  #app header img {
    width: 300px;
  }
}
